/* styles.css */
/*hide some elements*/
.side-menu-opener, #nextcloud, .toast-error,/*#header > div.header-right > div:nth-child(1), #header > div.header-right > div:nth-child(2), #header > div.header-right > div:nth-child(3),#profile,#notifications,*/#accessibility_settings, #settings,#admin_settings, #core_apps, #core_users,#help, #body-login > footer,#header > div.header-left > nav {
	display:none!important;
}

/*center vertically login form*/
#body-login .wrapper {
	margin-block:initial!important;
}

/*#nc_link img{
	filter:inherit!important;
}*/

/*settings styling*/

#app {
	font-family: sans-serif;
	font-size: smaller;
	display: flex;
    justify-content: center;
    margin-top: 10%;
    /*height: 100vh;*/
    overflow-y:hidden;
    overflow-x:hidden;
    align-items: center;
}
.buttons {
	display: flex;
    justify-content: space-evenly;
}
.buttons button {
	min-width: 100px
}

/*to fix main_menu auto hide in 1024 width */

@media all and (max-width: 1024px) {
	.app-navigation {
		position:relative!important;
	}
}
/* Add styles here to customize the appearance of your app */